:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.card-part-photo {
  transition: all .2s ease;
}

.css-1v2exvi-MuiCardActionArea-focusHighlight {
  background-color: white !important;
}

.MuiCard-root:hover .css-1v2exvi-MuiCardActionArea-focusHighlight {
  opacity: .15 !important;
}
/* below lines scales photo on card hover */
.MuiCard-root:hover .card-part-photo {
  scale: 1.1;
}

.css-y0orxu-MuiButtonBase-root-MuiCardActionArea-root:hover .MuiCardActionArea-focusHighlight {
  background-color: white;
}